<mat-toolbar color="primary">
  <span>
    <a routerLink="" mat-button>
      <mat-icon>local_movies</mat-icon> AngularMovies
    </a>
  </span>

  <div>
    <a mat-button routerLink="movies/filter">
      <mat-icon>search</mat-icon>Search movies</a
    >
  </div>


    <ng-container>
      <div>
        <a mat-button routerLink="genres"> Genres </a>
      </div>

      <div>
        <a mat-button routerLink="actors"> Actors </a>
      </div>

      <div>
        <a mat-button routerLink="movies/create"> Create Movie </a>
      </div>
    </ng-container>

  <div class="space">

  </div>

    <ng-container>
      <span>Hello, </span>
      <a mat-button >Logout</a>
    </ng-container>
    <ng-container >
    </ng-container>

</mat-toolbar>
