<form (submit)="saveChanges()" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Title*</mat-label>
    <input formControlName="title" matInput />
    <mat-error>The title field is required</mat-error>
  </mat-form-field>

  <h4>Summary</h4>

  <app-input-markdown
    [markdownContent]="model?.summary"
    [label]="'Summary'"
    (changeMarkdown)="changeMarkdown($event)"
  ></app-input-markdown>

  <h4>Select the Genres</h4>

  <app-multiple-selector
    [NonSelectedItems]="nonSelectedGenres"
    [SelectedItems]="selectedGenres"
  ></app-multiple-selector>


  <h4>Select the Actors</h4>

  <app-actors-autocomplete [selectedActors]="selectedActors"></app-actors-autocomplete>

  <div>
    <button mat-flat-button color="primary" [disabled]="form.invalid">
      Save Changes
    </button>
    <a mat-stroked-button routerLink="/">Cancel</a>
  </div>
</form>
